name: Build and Push All Dockerfiles

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  list-changed-dockerfiles:
    # Don't run on forks
    if: |
      ${{github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name    
       }}
    # find all Dockerfile_* files, except the ones with cudnn or trt in them and outputs them as a matrix.
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 2  # Only fetch the last 2 commits

      - name: Find changed Dockerfiles matching pattern
        id: set-matrix
        shell: bash
        run: |
          # Determine commit range for push or pull_request
          if [[ "${{ github.event_name }}" == "pull_request" ]]; then
            range="origin/${{ github.base_ref }}...${{ github.sha }}"
          else
            range="${{ github.event.before }} ${{ github.sha }}"
          fi
          files=$(git diff --name-only $range | grep -E '^Dockerfile' | grep -v 'cudnn.*' || true)
          if [[ -z "$files" ]]; then
            files_json="[]"
          else
            files_json=$(echo "$files" | jq -R -s -c 'split("\n")[:-1]')
          fi
          echo "matrix=$files_json"
          echo "matrix=$files_json" >> $GITHUB_OUTPUT
        
  build-and-push:
    # Build and publishes the dockerfiles listed in the previous step
    needs: list-changed-dockerfiles
    runs-on: ubuntu-latest
    # Only build changed yamls of the official repo.
    if: needs.list-changed-dockerfiles.outputs.matrix != '[]' &&
        github.event.pull_request.head.repo.full_name == github.event.pull_request.base.repo.full_name
    strategy:
      matrix:
        dockerfile: ${{fromJson(needs.list-changed-dockerfiles.outputs.matrix)}}
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Convert repository name to lowercase
        id: tolower
        uses: ASzc/change-string-case-action@v6
        with:
          string: ${{ github.repository }}

      - name: Build and push all Dockerfile_* images
        shell: bash
        run: |
          dockerfile="${{ matrix.dockerfile }}"
          suffix="${dockerfile#Dockerfile_}"
          if [[ -z "$suffix" ]]; then
            echo "No valid suffix for Docker image tag. Skipping build."
            exit 0
          fi
          imagename="ghcr.io/${{ steps.tolower.outputs.lowercase }}:${suffix}"
          echo "Building $dockerfile as $imagename"
          docker build -f "$dockerfile" -t "$imagename" .
          docker push "$imagename"

